{% extends "_main.jinja" %}

{% block title %}
Login
{% endblock title %}

{% block main %}
<form action="{{url_for("view_login_user")}}" method="POST">
    {{ form.csrf_token }}
    <p>
        {{ form.username.label }} 
        {{ form.username(size=20) }}
    </p>
    <p>
        {{ form.password.label }} 
        {{ form.password(size=20) }}
    </p>
    <input type="submit" value="Login">
</form>
{% endblock main %}
